<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="nb.kafka" level="ERROR"/>

  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="com.sun" level="ERROR"/>
  <logger name="io.fabric8" level="ERROR"/>
  <logger name="org.apache.kafka" level="ERROR"/>
  <logger name="kafka" level="ERROR"/>
  <logger name="com.salesforce.kafka" level="ERROR"/>
  <logger name="okhttp3" level="ERROR"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
